div {
  video,
  > img {
    user-select: none;
    pointer-events: unset !important;

    &:hover {
      cursor: pointer;
    }
  }

  &:has(video):has(img) > img {
    pointer-events: none !important;
  }
}
