.saveImage div > img {
  pointer-events: unset !important;
  user-select: none;
}

.saveImage div > img:hover {
  cursor: pointer;
}

.saveImage div video {
  user-select: none;
  pointer-events: unset !important;
}

.saveImage div video:hover {
  cursor: pointer;
}

.saveImage div:has(video):has(img) > img {
  pointer-events: none !important;
}
