:host {
  font-family: 'Inter', sans-serif;
}

.settingsButton {
  position: fixed;
  top: 50%;
  right: 0px;
  z-index: 9999;

  &:active {
    scale: 0.95;
  }

  transition-property: scale;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modalSettings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 380px;
  overflow-y: scroll;
}

.modalSettings::-webkit-scrollbar {
  width: 8px;
  background: unset;
  border: unset;
}

.modalSettings::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-light);
  border-radius: 8px;
}

.modalSettings::-webkit-scrollbar-button {
  display: none;
}

.modalSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.closeButton {
  margin-left: auto;
}

.searchInput {
  height: 20px;
}

.logo {
  padding: 0px;
}

.footerText {
  margin: 0 0 0 auto;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.emptySettings {
  margin: 0;
}

.resetButton {
  margin: 0;
  text-align: left;
}
