.modalSettings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 300px;
  overflow-y: scroll;
}

.modalSettings::-webkit-scrollbar {
  width: 8px;
  background: unset;
  border: unset;
}

.modalSettings::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-light);
  border-radius: 8px;
}

.modalSettings::-webkit-scrollbar-button {
  display: none;
}

.modalSection {
  display: flex;
  justify-content: space-between;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}

.modalContent {
  overflow: hidden;
  border-radius: 12px;
}

.logo {
  padding: 0px;
}
