.modalSettings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 380px;
  overflow-y: scroll;
}

.modalSettings::-webkit-scrollbar {
  width: 8px;
  background: unset;
  border: unset;
}

.modalSettings::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-light);
  border-radius: 8px;
}

.modalSettings::-webkit-scrollbar-button {
  display: none;
}

.modalSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.closeButton {
  margin-left: auto;
}

.searchInput {
  height: 20px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.modalContent {
  border-radius: 12px;
  border-width: 1px;
  border: solid;
  border-color: var(--mantine-color-gray-light);
}

.logo {
  padding: 0px;
}
